absl-py==0.9.0
astor==0.8.1
cycler==0.10.0
gast==0.3.3
grpcio==1.27.2
h5py==2.10.0
joblib==0.14.1
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keras-resnet==0.1.0
kiwisolver==1.1.0
Markdown==3.2.1
matplotlib==3.0.2
mock==4.0.2
numpy==1.18.2
Pillow==7.0.0
protobuf==3.11.3
pyparsing==2.4.6
python-dateutil==2.8.1
PyYAML==5.3.1
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn==0.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
torch==1.4.0
torchvision==0.5.0
Werkzeug==1.0.0
