absl-py==0.7.0
alembic==1.1.0
amqp==2.5.1
appnope==0.1.0
astor==0.7.1
astroid==2.1.0
attrs==19.1.0
Babel==2.7.0
backcall==0.1.0
beautifulsoup4==4.8.0
bleach==3.1.1
boto3==1.9.228
botocore==1.12.228
cachetools==3.1.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
cycler==0.10.0
dataclasses==0.6
debtcollector==1.22.0
decorator==4.4.0
defusedxml==0.6.0
dnspython==1.16.0
docutils==0.15.2
dogpile.cache==0.7.1
entrypoints==0.3
eventlet==0.25.1
extras==1.0.0
fasteners==0.15
fixtures==3.0.0
foolbox==1.8.0
futurist==1.9.0
gast==0.2.2
gitdb2==2.0.5
GitPython==2.1.11
gluon==1.1.0
gluonts==0.3.3
graphviz==0.8.4
greenlet==0.4.15
grpcio==1.18.0
h5py==2.9.0
holidays==0.9.11
idna==2.8
importlib-metadata==0.22
ipykernel==5.1.1
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
iso8601==0.1.12
isort==4.3.4
jedi==0.13.3
Jinja2==2.10.1
jmespath==0.9.4
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==0.35.6
jupyterlab-server==0.2.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
keras-resnet==0.1.0
keystoneauth1==3.17.1
keystonemiddleware==7.0.1
kiwisolver==1.0.1
kombu==4.6.4
lazy-object-proxy==1.3.1
linecache2==1.0.0
logutils==0.3.5
Mako==1.1.0
Markdown==3.0.1
MarkupSafe==1.1.1
matplotlib==3.0.2
mccabe==0.6.1
mistune==0.8.4
monotonic==1.5
more-itertools==7.2.0
msgpack==0.6.1
mxnet==1.3.1
nbconvert==5.5.0
nbformat==4.4.0
netaddr==0.7.19
netifaces==0.10.9
notebook==5.7.8
numpy==1.14.6
opencv-python==4.0.0.21
os-service-types==1.7.0
oslo.cache==1.37.0
oslo.concurrency==3.30.0
oslo.config==6.11.1
oslo.context==2.23.0
oslo.db==5.0.2
oslo.i18n==3.24.0
oslo.log==3.44.1
oslo.messaging==10.2.0
oslo.middleware==3.38.1
oslo.policy==2.3.2
oslo.serialization==2.29.2
oslo.service==1.40.2
oslo.utils==3.41.1
oslo.versionedobjects==1.36.1
pandas==0.25.1
pandocfilters==1.4.2
parso==0.4.0
Paste==3.2.0
PasteDeploy==2.0.1
pbr==5.4.3
pecan==1.3.3
pexpect==4.7.0
pickleshare==0.7.5
Pillow==5.4.1
prettytable==0.7.2
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.6.1
ptyprocess==0.6.0
pycadf==2.10.0
pydantic==0.28
Pygments==2.4.0
pylint==2.2.2
pyparsing==2.3.1
pyrsistent==0.15.2
python-dateutil==2.7.5
python-editor==1.0.4
python-etcd==0.4.5
python-keystoneclient==3.21.0
python-mimeparse==1.6.0
pytz==2018.9
PyYAML==3.13
pyzmq==18.0.1
qtconsole==4.4.4
repoze.lru==0.7
requests==2.21.0
rfc3986==1.3.2
Routes==2.4.1
s3transfer==0.2.1
scikit-learn==0.20.2
scipy==1.2.0
seaborn==0.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.12.0
sklearn==0.0
smmap2==2.0.5
soupsieve==1.9.3
SQLAlchemy==1.0.19
sqlalchemy-migrate==0.12.0
sqlparse==0.3.0
statsd==3.3.0
stevedore==1.31.0
Tempita==0.5.2
tensorboard==1.12.2
tensorflow==1.12.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
testresources==2.0.1
testscenarios==0.5.0
testtools==2.3.0
torch==1.0.1.post2
torch-two-sample==0.1
torchvision==0.2.1
tornado==6.0.2
tqdm==4.32.1
traceback2==1.4.0
traitlets==4.3.2
typed-ast==1.3.1
ujson==1.35
unittest2==1.1.0
urllib3==1.24.1
vine==1.3.0
waitress==1.3.1
wcwidth==0.1.7
webencodings==0.5.1
WebOb==1.8.5
WebTest==2.0.33
Werkzeug==0.14.1
widgetsnbextension==3.4.2
wrapt==1.11.1
WSME==0.9.3
yappi==1.0
zipp==0.6.0